<<<<<<< HEAD
#dashboard {
  background-color: whitesmoke;
  width: 800px;
  border: 2px solid lightgray;
  border-radius: 25px;
  margin: auto;
  box-shadow: 10px 10px 5px lightgray;
}

h1 {
  text-align: center;
  font-size: 175px;
  color: whitesmoke;
}

p {
  text-align: center;
  color: magenta;
}

#header {
  background-color: magenta;
  length: 50px;
  width: 800px;
}

button: {

=======
/* 
.wow {
  width: 100px;
}
#nameTag .bar{
  height: 25%;
  width: 100%;
  background-color: hotpink;
}
.button {
  height: 33.33%;
  width: 33.33%;
  vertical-align: center;
}
.button:hover {
  background-color: blueviolet;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
>>>>>>> e512ede2c6f26dc7d105507b6f2ff67fe8ee9f6a
}
*/